$primary: #26356e;
$secondary: #e30613;
$accent: #ffffff;

$primary-hover: #1976d211;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
